<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' href="{{ url_for('static',filename='main_style.css') }}"> -->
    <link rel='stylesheet'  type="text/css"media="screen and (min-width: 501px)" href="{{url_for('static', filename='main_style.css')}}">
    <link rel="stylesheet"  type="text/css"media="screen and (max-width: 500px)" href="{{url_for('static', filename='smallstyle.css')}}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    <p style='color:grey'>Source 1: <cite>https://www.wordreference.com/</cite></p>
    <p style='color:grey'>Source 2: <cite>https://dictionary.reverso.net/</cite></p>
</body>
</html>
