{% extends 'base.html' %}

{% block head %}
<title>Word definition</title>
{% endblock %}

{% block body %}

    <h1>Word definition</h1>
    <div class='content'>
        {% for word in words %}
            <h5>{{ word.key }}</h5>
            <p>{{ word.translations }}</p>
            {% if word.context %}
            <p style='color:gray'>{{ word.context }}</p>
            {% endif %}
            <hr>
        {% endfor %}

        {% for example in examples %}
            <h6>{{ example.example }}</h6>
            {% if example.translation_example %}
            <h6 style='color:gray'>{{ example.translation_example }}</h6>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}