{% extends 'base.html' %}

{% block head %}
<title>Find definition</title>
{% endblock %}

{% block body %}

    <h1>Find definition</h1>
    <div class='content'>
    <form action="/definition/" method='POST'>
        <label class='main_label' for="word">Put a word:</label><br>
            <input type="text" id="word" name="word"><br>

            <select id="language_from" name="language_from">
                <option value="" disabled selected>Language from</option>
                <option value="chiois">Chinese</option>
                <option value="anglais">English</option>
                <option value="francais">French</option>
                <option value="allemand">German</option>
                <option value="italien">Italian</option>
                <option value="portugais">Portuguese</option>
                <option value="polonais">Polish</option>
                <option value="russe">Russian</option>
                <option value="espagnol">Spanish</option>
            </select>
            <label for="languages">→</label>
            <select id="language_to" name="language_to">
                <option value="" disabled selected>Language to</option>
                <option value="chiois">Chinese</option>
                <option value="anglais">English</option>
                <option value="francais">French</option>
                <option value="allemand">German</option>
                <option value="italien">Italian</option>
                <option value="portugais">Portuguese</option>
                <option value="polonais">Polish</option>
                <option value="russe">Russian</option>
                <option value="espagnol">Spanish</option>
            </select><br><br>
            <label class='main_label'>Select dictionary:</label><br>
            <input type="checkbox" value="wordreference" name="dictionary_name">
            <label for="wordreference"> Wordreference</label><br>

            <input type="checkbox" value="dictionnaire" name="dictionary_name">
            <label for="dictionnaire"> Dictionnaire</label><br>

            <input type='submit' value='Find definition'>

    </form>
</div>
{% endblock %}