{% extends 'base.html' %}

{% block head %}
<title>Find definition</title>
{% endblock %}

{% block body %}
{% if error_statement %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ error_statement }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

    <h1>Find definition</h1>
    <div class='content'>
    <form action="/definition/" method='POST'>
        <div class="form-group">
            <label class='main_label' for="word">Put a word:</label><br>
            <input type="text" id="word" class='form-control m-1' name="word">
        </div>


            <select class='form-control m-1' id="language_from" name="language_from">
                <option value="" disabled selected>Language from</option>
                <option value="chiois">Chinese</option>
                <option value="anglais">English</option>
                <option value="francais">French</option>
                <option value="allemand">German</option>
                <option value="italien">Italian</option>
                <option value="portugais">Portuguese</option>
                <option value="polonais">Polish</option>
                <option value="russe">Russian</option>
                <option value="espagnol">Spanish</option>
            </select>
            <select class='form-control m-1' id="language_to" name="language_to">
                <option value="" disabled selected>Language to</option>
                <option value="chiois">Chinese</option>
                <option value="anglais">English</option>
                <option value="francais">French</option>
                <option value="allemand">German</option>
                <option value="italien">Italian</option>
                <option value="portugais">Portuguese</option>
                <option value="polonais">Polish</option>
                <option value="russe">Russian</option>
                <option value="espagnol">Spanish</option>
            </select>
            <label class='main_label'>Select dictionary:</label><br>

            <div class="form-check">
                <input class="form-check-input" type="radio" value="wordreference" name="dictionary_name">
                <label class="form-check-label" for="wordreference"> Wordreference</label>
            </div>

            <div class='form-check'>
                <input class="form-check-input" type="radio" value="dictionnaire" name="dictionary_name">
                <label class="form-check-label" for="dictionnaire"> Dictionnaire</label>
            </div>


            <input class='btn btn-primary btn-lg' type='submit' value='Find definition'>

    </form>
</div>
{% endblock %}